name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21.x"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run tests
        run: ./ci/test.sh

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage.txt